/* pre, tt, code { */
/*   font-size: 1rem !important; */
/* } */
div.highlight-none pre {
    color: var(--color-foreground-muted);
}
div.highlight-none div.highlight {
    background: var(--color-background-primary);
}
h1 {
    margin-top: 1.2rem;
    padding-bottom: 1.0rem;
    border-bottom: 1px solid var(--color-foreground-border);
    border-radius: 0;
}
h2 {
  margin-top: 2.0rem;
}
h3 {
  margin-top: 1.5rem;
}
.highlight .m {
    color: inherit;
    font-weight: inherit;
}
